/* remove dropdown rubbish */
li {
    list-style-type: none;
}

/* stretched-link disabling */
.card .card-icons-box {
    z-index: 2;
    position: relative;
}

/* disable icons glish on main page */
a :hover {
    text-decoration: none;
}